@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Paleta de cores

#025259 - Azul escuro
#007172 - Azul médio
#F29325 - Amarelo
#D94F04 - Laranja
#F4E2DE - Marfim

*/



:root {
    --azulEscuro: #025259;
    --azulMedio: #007172;
    --amarelo: #F29325;
    --laranja: #D94F04;
    --marfim: #F4E2DE;
    --preto: #1d1d1d;
    --branco: #d1d1d1;
} 

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*------------------------------Desktop-------------------------------*/

@media (min-width: 1000px) {

    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 200px;
        left: 44%;
        top: 50%;
        margin-top: -250px;
        margin-left: -156.5px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 5em;
        position: absolute;
        color: var(--amarelo);
        top: 44%;
        left: 55%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 1.1em;
        border-radius: 50px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 51%;
        
    }

    .bau {
        display: flex;
        border: solid;
        align-items: center;
        justify-content: center;
        height: 100vh;


    }

    .bau div {
        background-color: var(--marfim);
        height: 50%;
        padding: 30px;
    }

}

/*----------------tablet---------------*/
    
@media (min-width: 701px) and (max-width: 1000px) {


    .containerPrincipal {
        display: flex;
        flex-direction: column;
        
    }

    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 300px;
        left: 50%;
        top: 50%;
        width: 600px;
        margin-top: -450.4px;
        margin-left: -300px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 6em;
        position: absolute;
        color: var(--amarelo);
        top: 64.5%;
        left: 53%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 1.3em;
        border-radius: 70px;
        padding: 30px 30px;
        position: absolute;
        top: 70%;
        left: 50%;
        right: 10%;
        
        
    }

    /** fim da página de chamada*/

}


/*----------------celular---------------*/
    
@media (min-width: 0px) and (max-width: 700px) {

    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 200px;
        left: 50%;
        top: 50%;
        width: 340px;
        margin-top: -257.5px;
        margin-left: -170px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 3.7em;
        position: absolute;
        color: var(--amarelo);
        top: 70%;
        left: 37%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 0.9em;
        border-radius: 50px;
        padding: 20px;
        position: absolute;
        top: 75%;
        left: 29%;
        right: 5%;
        
        
    }

}




/*


chamadaTitle
bauTxt
bauImg
bauImg02
gerImg
getTxt
gerImg2
aeTriImg
aeTriImg1
aeTriTxt
miuImg
miuImg1
miuTxt
tripTxt
tripImg
tripImg1
aetriiImg
aeTriiTxt
aeTriiImg2
logo

*/