@charset "UTF-8";

@font-face {
    font-family: begika;
    src: url(font/Begika.ttf) format('truetype') ;
}

:root {
    --azulEscuro: #025259;
    --azulMedio: #007172;
    --amarelo: #F29325;
    --laranja: #D94F04;
    --marfim: #faede1;
    --preto: #1d1d1d;
    --branco: #d1d1d1;
} 

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

h1, h2 {
    font-family: 'begika', Times, serif;
}

p, h2 {
    color: var(--azulEscuro);
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    color: var(--laranja);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*******************************Desktop***********************************/

@media (min-width: 1000px) {

    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 200px;
        left: 44%;
        top: 50%;
        margin-top: -250px;
        margin-left: -156.5px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 5em;
        position: absolute;
        color: var(--amarelo);
        top: 44%;
        left: 55%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 1.1em;
        border-radius: 50px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 51%;
        
    }

    /*------------------------começa a bau--------------------------*/

    .bau {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;


    }

    .bau div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--marfim);
        height: 65%;
        padding: 30px;
        width: 300px;
    }

    /*------------------------começa a ger--------------------------*/

    .ger {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .ger img {
        width: 500px;
    }

    .ger div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--amarelo);
        height: 65%;
        padding: 30px;
        width: 300px;
        
        
    }

    .ger p, .ger ul, .ger h2 {
        color: white;
    }

    /*------------------------começa a ae--------------------------*/


    .ae {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .ae img {
        width: 500px;
    }

    .ae div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--marfim);
        height: 75%;
        padding: 30px;
        width: 300px;
        border-radius: 300px;
    }

    /*------------------------começa a miu--------------------------*/


    .miu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .miu img {
        width: 500px;
    }

    .miu div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--marfim);
        height: 75%;
        padding: 30px;
        width: 300px;
        border-radius: 300px;
    }

     /*------------------------começa a trip--------------------------*/


     .trip {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .trip img {
        width: 800px;
    }

    .trip div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--amarelo);
        height: 75%;
        padding: 30px;
        width: 300px;
    }

     /*------------------------começa a ae tri--------------------------*/


     .aeTri {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .aeTri img {
        width: 600px;
    }

    .aeTri div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        gap:30px;
        background-color: var(--marfim);
        height: 75%;
        padding: 30px;
        width: 300px;
        border-radius: 300px;
    }


}

/*************************************tablet************************************/
    
@media (min-width: 701px) and (max-width: 1000px) {


   
    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 300px;
        left: 50%;
        top: 50%;
        width: 600px;
        margin-top: -450.4px;
        margin-left: -300px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 6em;
        position: absolute;
        color: var(--amarelo);
        top: 64.5%;
        left: 53%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 1.3em;
        border-radius: 70px;
        padding: 30px 30px;
        position: absolute;
        top: 70%;
        left: 50%;
        right: 10%;
        
        
    }

}


/*********************************celular***********************************/
    
@media (min-width: 0px) and (max-width: 700px) {

    .chamada {
        display: flex;
        width: auto;
        height: 100vh;
        position: relative;
    }
    
    .chamada img {
        position: absolute;
        border-radius: 200px;
        left: 50%;
        top: 50%;
        width: 340px;
        margin-top: -257.5px;
        margin-left: -170px;
    
    }
    
    
    
    .chamada h1 {
        font-size: 3.7em;
        position: absolute;
        color: var(--amarelo);
        top: 70%;
        left: 37%;
        z-index: 1;
    }
    
    .chamada p {
        background-color: var(--marfim);
        color: var(--azulMedio);
        font-size: 0.9em;
        border-radius: 50px;
        padding: 20px;
        position: absolute;
        top: 75%;
        left: 29%;
        right: 5%;
        
        
    }

}




/*


chamadaTitle
bauTxt
bauImg
bauImg02
gerImg
getTxt
gerImg2
aeTriImg
aeTriImg1
aeTriTxt
miuImg
miuImg1
miuTxt
tripTxt
tripImg
tripImg1
aetriiImg
aeTriiTxt
aeTriiImg2
logo

*/